.metadata/
documents/
DATA_GUI/
DATA_INFO.csv
DATA_MOVIES/
DATA_OUTPUT/
DATA_SEMIAUTO/
java1/doc/
java1/bin/*.class
java1/bin/
*.class
LAFImport/
gastrulation - all notes.rtf
old_gastrulation/
other movies/
Matlab.zip
java1.zip
EDGE.zip
EDGE_install/
EDGE_install.*
*~
EDGE_install_p.zip
EDGE_install_protected/Matlab/CStrAinBP.p
EDGE_install_protected/Matlab/CStrAinBP_license.txt
EDGE_install_protected/Matlab/EDGE.fig
EDGE_install_protected/Matlab/EDGE.p
EDGE_install_protected/Matlab/active_contours_cost.p
EDGE_install_protected/Matlab/apply_smoothing.p
EDGE_install_protected/Matlab/changed_data_info.p
EDGE_install_protected/Matlab/chgext.p
EDGE_install_protected/Matlab/clear_cell.p
EDGE_install_protected/Matlab/clear_data_set_both.p
EDGE_install_protected/Matlab/clear_data_set_maingui.p
EDGE_install_protected/Matlab/clear_data_set_semiauto.p
EDGE_install_protected/Matlab/convert_cell_data_to_numerical.p
EDGE_install_protected/Matlab/date_and_time.p
EDGE_install_protected/Matlab/date_and_time_saving.p
EDGE_install_protected/Matlab/degtorad.p
EDGE_install_protected/Matlab/draw_3d_cell_one_layer.p
EDGE_install_protected/Matlab/draw_cell_stack_highlight_z.p
EDGE_install_protected/Matlab/draw_connectivity_matrix.p
EDGE_install_protected/Matlab/drawline.p
EDGE_install_protected/Matlab/eliminate_bad_cells.p
EDGE_install_protected/Matlab/exit_data_set_semiauto.p
EDGE_install_protected/Matlab/exported_text_controller.p
EDGE_install_protected/Matlab/find_centroids.p
EDGE_install_protected/Matlab/find_vertices.p
EDGE_install_protected/Matlab/fix_outer_cells_preserve_vertices.p
EDGE_install_protected/Matlab/getTZ.p
EDGE_install_protected/Matlab/get_channelnames.p
EDGE_install_protected/Matlab/get_filtered.p
EDGE_install_protected/Matlab/get_filtered_gauss.p
EDGE_install_protected/Matlab/get_filtered_new.p
EDGE_install_protected/Matlab/get_folder_names.p
EDGE_install_protected/Matlab/get_measurement_data.p
EDGE_install_protected/Matlab/get_measurement_data_TZ.p
EDGE_install_protected/Matlab/get_measurement_file_names.p
EDGE_install_protected/Matlab/get_measurement_file_names_specific_ch.p
EDGE_install_protected/Matlab/get_membs_v3.p
EDGE_install_protected/Matlab/get_membs_v3old.p
EDGE_install_protected/Matlab/get_mouse_location_zoom.p
EDGE_install_protected/Matlab/go_to_image.p
EDGE_install_protected/Matlab/gplot2.p
EDGE_install_protected/Matlab/handles_set_channelsrc_paths.p
EDGE_install_protected/Matlab/handles_set_program_dir.p
EDGE_install_protected/Matlab/handles_set_src_paths.p
EDGE_install_protected/Matlab/handles_set_tempsrc_paths.p
EDGE_install_protected/Matlab/import_copymove_files.p
EDGE_install_protected/Matlab/import_get_dataset_name.p
EDGE_install_protected/Matlab/import_parse_filename.p
EDGE_install_protected/Matlab/initialize_tz_sliders.p
EDGE_install_protected/Matlab/leicaxmlextract.p
EDGE_install_protected/Matlab/maingui_initialize_neighbors.p
EDGE_install_protected/Matlab/my_colors.p
EDGE_install_protected/Matlab/my_mean.p
EDGE_install_protected/Matlab/my_num2str.p
EDGE_install_protected/Matlab/my_sign.p
EDGE_install_protected/Matlab/read_data_info.p
EDGE_install_protected/Matlab/readyproc.p
EDGE_install_protected/Matlab/save_embryo.p
EDGE_install_protected/Matlab/semiauto.fig
EDGE_install_protected/Matlab/semiauto.p
EDGE_install_protected/Matlab/semiauto_change_image_callbacks.p
EDGE_install_protected/Matlab/semiauto_info_text_callback.p
EDGE_install_protected/Matlab/semiauto_preprocess.p
EDGE_install_protected/Matlab/semiauto_preprocess_active_contours.p
EDGE_install_protected/Matlab/semiauto_set_vec_enabling.p
EDGE_install_protected/Matlab/slider_callbacks_draw_3D_cell.p
EDGE_install_protected/Matlab/slider_callbacks_draw_image_slice.p
EDGE_install_protected/Matlab/slider_callbacks_draw_image_slice_dots_maingui.p
EDGE_install_protected/Matlab/slider_callbacks_draw_image_slice_dots_semiauto.p
EDGE_install_protected/Matlab/slider_callbacks_draw_measurement.p
EDGE_install_protected/Matlab/smooth_rochange.p
EDGE_install_protected/Matlab/smooth_rochange_2.p
EDGE_install_protected/Matlab/update_embryo.p
EDGE_install_protected/Matlab/vec_adjustments_visible.p
EDGE_install_protected/Matlab/write_data_info.p
EDGE_install_protected/Matlab/write_image_filename_function.p
EDGE_install_protected/Matlab/xml_read.p
EDGE_install_protected/Measurements/Membranes/basic_2d.m
EDGE_install_protected/Measurements/Membranes/basic_geometry.m
EDGE_install_protected/Measurements/Membranes/basic_geometry_debug.m
EDGE_install_protected/Measurements/Membranes/ellipse_properties.m
EDGE_install_protected/Measurements/Membranes/vertices.m
EDGE_install_protected/Measurements/Myosin/myosin_intensity.m
EDGE_install_protected/Measurements/Myosin/myosin_proj_ellipse_properties.m
EDGE_install_protected/Measurements/Nuclei/nuclei_intensity.m
EDGE_install_protected/Measurements/drawCell.m
EDGE_install_protected/Measurements/drawCellSmall.m
EDGE_install_protected/install.m
EDGE_install_protected/java1/.classpath
EDGE_install_protected/java1/.project
EDGE_install_protected/java1/.settings/org.eclipse.jdt.core.prefs
Matlab/active_contours_cost.m
Matlab/draw_connectivity_matrix.m
Matlab/drawline.m
Matlab/semiauto_preprocess_active_contours.m
install_workaround.m
java1/bin.zip
java1/doc.zip
#.gitignore#