.metadata/
documents/
DATA_GUI/
DATA_INFO.csv
DATA_MOVIES/
DATA_OUTPUT/
DATA_SEMIAUTO/
java1/doc/
java1/bin/*.class
LAFImport/
gastrulation - all notes.rtf
old_gastrulation/
other movies/
Matlab.zip
java1.zip
EDGE.zip
EDGE_install/
EDGE_install.*
*~
